<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651085286519-qiiih50ohbj2pka1k2uev0pegcq1vmek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651085286519-qiiih50ohbj2pka1k2uev0pegcq1vmek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>651085286519-f7aatrvpuempka3tvsmrfn6psf08565t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBC-5s0WStakhNP8ZYhGWwaPZQ9rh3lK9g</string>
	<key>GCM_SENDER_ID</key>
	<string>651085286519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motilon</string>
	<key>PROJECT_ID</key>
	<string>motilon-83f78</string>
	<key>STORAGE_BUCKET</key>
	<string>motilon-83f78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651085286519:ios:e048a6c78664e96f214a72</string>
	<key>DATABASE_URL</key>
	<string>https://motilon-83f78.firebaseio.com</string>
</dict>
</plist>